<table>
  <tr>
    <td>ID</td>
    <td>{{ id }}</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>{{ fname }}</td>
  </tr>
  <tr>
    <td>Middle Init</td>
    <td>{{ minit }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{ lname }}</td>
  </tr>
  <tr>
    <td>DOB</td>
    <td>{{ dob }}</td>
  </tr>
  <tr>
    <td>Balance</td>
    <td>{{ wallet }}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>{{ username }}</td>
  </tr>
  <tr>
    <td>Password</td>
    <td>{{ password }}</td>
  </tr>
</table>
